.header{
    background-color:#2E0BE5;
    color:#E6C02E;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.wrapper{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row wrap;
    justify-content: space-between;
    max-width: 960px;
}

