
body{
    background-color: #A8940050;
    font-family: 'Peddana', serif;
}

.header{
    background-color:#2E0BE5;
    color:#E6C02E;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}
.wrapper{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row wrap;
    justify-content: space-between;
    max-width: 960px;
    align-items: flex-start;
}

.column1 {
    margin-right: 15px;
    flex: 0 1 auto;
}

.column1 > img{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    width: 150px;
}

.column1 > p{
    background-color: #DED9DA;
}

.column2 {
    background-color: #DED9DA;
}

@media screen and (max-width: 1000px) {

    .container{
        justify-content: center;
    }

    .column1{
        flex: 1 0 auto;
        margin-right: 0px;
    }



}

